<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>n2_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{49,48}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,9},{49,48}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,0},{49,48}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,9},{49,48}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,0},{51,48}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,9},{51,48}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,0},{55,50}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,7},{55,50}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,50},{55,50}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,7},{55,50}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,50},{55,50}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,7},{55,50}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,50},{53,48}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,9},{53,48}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,50},{51,48}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,9},{51,48}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,50},{31,56}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,3},{31,56}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,106},{31,56}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,4},{31,56}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,106},{31,54}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,5},{31,54}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,106},{31,54}}</string>
			<key>offset</key>
			<string>{2,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,2},{31,54}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,106},{31,54}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,5},{31,54}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,106},{31,56}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,4},{31,56}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,106},{29,54}}</string>
			<key>offset</key>
			<string>{4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,5},{29,54}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,106},{31,54}}</string>
			<key>offset</key>
			<string>{3,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,2},{31,54}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,106},{35,52}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,4},{35,52}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,162},{37,54}}</string>
			<key>offset</key>
			<string>{4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,3},{37,54}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,162},{37,52}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,5},{37,52}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,162},{35,54}}</string>
			<key>offset</key>
			<string>{-3,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,3},{35,54}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,162},{35,52}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,5},{35,52}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,162},{39,52}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,6},{39,52}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,162},{37,52}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,6},{37,52}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,216},{37,52}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,5},{37,52}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,216},{31,56}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,3},{31,56}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,216},{31,54}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,5},{31,54}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,216},{31,56}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,5},{31,56}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,216},{31,52}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,6},{31,52}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,216},{31,56}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,3},{31,56}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,216},{31,58}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,2},{31,58}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,216},{29,58}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,3},{29,58}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>n2_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,274},{31,52}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,5},{31,52}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>n2.png</string>
		<key>size</key>
		<string>{252,326}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bd574a607ac215817ddf462cd3500bfd$</string>
		<key>textureFileName</key>
		<string>n2.png</string>
	</dict>
</dict>
</plist>
